## .NET Framework
bin/
obj/
packages/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

## Visual Studio
.vs/
*.rsuser
[Tt]humbs.db
*.pidb
*.svclog
*.scc

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/

## OS
.DS_Store
Thumbs.db
